<div>
    <ng-include src="'project/views/DRYhtml/header.view.client.html'"></ng-include>
</div>

<div class="container">

    <div class="day-select">
        Airing On:
        <select ng-model="daySelected" ng-change="model.daySelectedEvent(daySelected)">
            <option ng-repeat="day in model.daysToCheck" value="{{day.name}}">{{day.niceName}}</option>
        </select>
    </div>

    <div class="row center">
        <div ng-repeat="show in model.showListByNextEpisode">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div ng-show="show.episode.release_date == model.day" class="thumbnail">
                    <img ng-src="{{model.getShowArt(show)}}">
                    <div class="caption">
                        <h3>{{show.episode.show.title}}</h3>
                        <p>Season {{show.episode.season}} Episode {{show.episode.number}}
                            <br>
                            {{show.episode.title}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-repeat="user in model.user.follows">
        <div class="col-md-6">
            {{model.getFollowerUsername(user)}}
        </div>
    </div>

</div>

<div>
    <ng-include src="'project/views/DRYhtml/footer.view.client.html'"></ng-include>
</div>