<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> TV Tracker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input ng-model="username" type="text" placeholder="Username" class="form-control">
                </div>
                <div class="form-group">
                    <input ng-model="password" type="password" placeholder="Password" class="form-control">
                </div>
                <a ng-click="model.login(username, password)" class="btn btn-primary">Login</a>
                <a href="/auth/facebook" class="btn btn-primary btn-primary">
                    <span class="fa fa-facebook"></span>
                    Facebook
                </a>
                <a href="#/register" class="btn btn-primary">Register</a>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img ng-src="http://lorempixel.com/400/200/" style="margin:auto;">
                </div>

                <div class="item">
                    <img ng-src="http://lorempixel.com/400/200/sports" style="margin:auto;">
                </div>

                <div class="item">
                    <img ng-src="http://lorempixel.com/g/400/200" style="margin:auto;">
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Welcome</h2>
            <p class="text-center">Follow your favorite shows and check which ones have a new episode today!</p>
        </div>
    </div>
    <a class="btn btn-primary btn-block" href="/#/shows/browse/popular">Browse Popular Shows</a>
    <a class="btn btn-primary btn-block" href="/#/shows/browse/topRated">Browse Top Rated Shows</a>
</div>

