<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-head">
            <a class="navbar-brand" href="">
                TV Tracker
            </a>
            <p class="navbar-text pull-right">
                <a href="#/login" class="btn btn-primary">Login</a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#/register" class="btn btn-primary">Register</a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div class="shows">
        <div class="trending-shows">
            <div class="col-md-12">
                <div class="carousel slide multi-item-carousel" id="theCarousel">
                    <div class="carousel-inner">
                        <div ng-repeat="slideCollection in model.groupedSlides">
                            <div class="item" ng-class="{active:!$index}">
                                <div clas="col-xs-4">
                                    <img ng-src="{{model.getBackdropUrl(slideCollection.show1)}}" style="margin:auto;">
                                    <img ng-src="{{model.getBackdropUrl(slideCollection.show2)}}" style="margin:auto;">
                                    <img ng-src="{{model.getBackdropUrl(slideCollection.show3)}}" style="margin:auto;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="currentShows">

            </div>
        </div>
    </div>
</div>