.navbar-text {
    padding-left: 5px;
    padding-right: 5px;
}

.btn-primary {
    overflow-wrap: normal;
}

.btn-block {
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-striped {
    width: 100%;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.day-select {
    padding-bottom: 10px;
}

.glyphicon-user {
    color: cornflowerblue;
}

.glyphicon-home {
    color: cornflowerblue;
}

.glyphicon-chevron-left {
    color: cornflowerblue;
}

.glyphicon-ok {
    color: cornflowerblue;
}

.follow-icon {
    padding-left: 20px;
}

.row-query {
    margin-left: 25%;
}

.input-group {
    width: 55%;
    margin-top: 10px;
    margin-right: 10px;
}

.glyphicon-chevron-left {
    margin-left: 10px;
    font-size: 1.5em;
}

.glyphicon-ok {
    font-size: 1.25em;
}

.row{
    width: 100%;
    margin-top: 20px;
}

img{
    width:100%;
    height:100%;
}