<div>
    <ng-include src="'project/views/DRYhtml/header.view.client.html'"></ng-include>
</div>

<div class="container">
    <img class="img-rounded" ng-src="{{model.showArtPath}}" alt="N/A">
    <div class="caption">
        <h3>{{model.show.name}} <h5>Seasons: {{model.show.number_of_seasons}}</h5></h3>
        <p>{{model.show.overview}}</p>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-left">
                <a href="#/user/home/{{model.user._id}}" class="navbar-link">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
                <a ng-click="model.toggleFollow()" class="navbar-link follow-icon">
                    <span ng-if="model.isFollowing" class="glyphicon glyphicon-heart" style="color:red"></span>
                    <span ng-if="!model.isFollowing" class="glyphicon glyphicon-heart"></span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#/user/home/{{model.user._id}}/edit" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>