<div>
    <ng-include src="'project/views/DRYhtml/header.view.client.html'"></ng-include>
</div>

<div class="container">
    <img class="img-rounded" ng-src="{{model.showArtPath}}" alt="N/A">
    <div class="caption">
        <h3>{{model.show.name}}</h3>
        <h4>Seasons: {{model.show.number_of_seasons}}</h4>
        <h5 ng-if="model.nextEpisode">Next Episode: {{model.nextEpisode.episode.release_date}}</h5>
        <h5 ng-if="model.lastEpisode">Last Episode: {{model.lastEpisode.episode.release_date}}</h5>
        <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: {{model.showRating}}%;">
                {{model.show.vote_average}} / 10 TMDB Rating
            </div>
        </div>
        <p>{{model.show.overview}}</p>
        <div class="alert alert-danger text-center" ng-if="model.show.status == 'Ended'">Series is Ended</div>
        <div class="alert alert-success text-center" ng-if="!(model.show.status == 'Ended')">Series is still running</div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-left">
                <a href="#/user/home/{{model.user._id}}" class="navbar-link">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
                <a ng-show="model.user" ng-click="model.toggleFollow()" class="navbar-link follow-icon">
                    <span ng-if="model.isFollowing" class="glyphicon glyphicon-heart" style="color:red"></span>
                    <span ng-if="!model.isFollowing" class="glyphicon glyphicon-heart"></span>
                </a>
            </p>
            <p ng-show="{{model.user}}"  class="navbar-text pull-right">
                <a href="#/user/home/{{model.user._id}}/edit" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>