<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                {{model.user.username}}
            </a>
            <div class="input-group pull-right">
                <input ng-model="searchText"
                       type="text"
                       class="form-control"
                       placeholder="Search for Shows">
                <span class="input-group-btn">
                    <a ng-click="model.searchShows(searchText)"
                       class="btn btn-default"
                       type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</nav>